
.navbar {
    overflow: hidden;
    background-color: #ff7acc;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
 
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
  }
  
  
  .navbar a:hover {
    background: #81affe;
    color: white;
  }
  
  
  .main {
    margin-top: 6.25rem; 
    text-align: center;
  }


body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/908/631/590/hello-kitty-1440x900-anime-hello-kitty-hd-art-wallpaper-preview.jpg");
    color: white

    
     


}

p {
    font-size: 1.5625rem;
}

h1 {
    font-family: "Helvetica";
}

img {
    float: left;
    border-radius: 5%;
}

.quote {
    font-size: 4rem;
    text-align: center;
    font-family: 'Brush Script MT';
    text-shadow: 0.125rem 0.125rem 0.1875rem #ff2bae, 0.125rem 0.125rem 0.3125rem #ff7acc;
}


.indexcontainer {
display: flex;
margin: auto;
align-self: center;
align-items: center;
justify-content: center;
border-radius: 1.5625rem;
background-color: #ff7acc;
width: 70%;
}


.homecontainer {
  display: flex;
  margin: auto;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 1.5625rem;
  background-color: #ff7acc;
  width: 50%
  
 
}

article {
  background-color: #81affe;
  width: 37.5rem;
  border: 0.9375rem solid #81affe;
  padding: 3.125rem;
  margin: 1.25rem;
  border-radius: 1.5625rem;

}